* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s; }
  * a, * a:link {
    color: #ffffff;
    text-decoration: none; }
  * input {
    outline: none; }

/* body
    border: 15px solid #ffffff */
@font-face {
  font-family: 'Aleo Bold', sans-serif;
  src: url(../web/fonts/WebfontKit/Bold/aleo-bold-webfont.woff2); }

.first-section {
  background: url(../img/bg-toper.png);
  background-size: cover; }
  .first-section__wrapper {
    max-width: 1110px;
    margin: 0 auto; }
  .first-section__conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center; }
    .first-section__conteiner .title {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 700;
      font-size: 48px;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 265px;
      margin-bottom: 0; }
    .first-section__conteiner .sub-title__text {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      font-size: 22px;
      color: #ffffff;
      margin-bottom: 45px;
      letter-spacing: 4.3px; }
    .first-section__conteiner .search-form {
      position: relative; }
      .first-section__conteiner .search-form [type="search"] {
        width: 650px;
        height: 60px;
        padding-left: 105px; }
        .first-section__conteiner .search-form [type="search"]::placeholder {
          font-family: 'Josefin Sans', sans-serif;
          font-weight: 300;
          font-size: 14px;
          letter-spacing: 3.5px;
          color: #999999; }
      .first-section__conteiner .search-form [type="button"] {
        position: absolute;
        right: 2px;
        top: 2px;
        height: 56px;
        width: 145px;
        text-transform: uppercase;
        color: #fff;
        background: #5474fd;
        background-image: url(../icon/search.svg);
        background-repeat: no-repeat;
        background-position: 110px 12px;
        outline: none;
        border: 0;
        font-family: 'Aleo Bold', sans-serif;
        font-weight: 250;
        font-size: 16px;
        cursor: pointer; }
        .first-section__conteiner .search-form [type="button"]:active {
          transform: scale(0.98); }
        .first-section__conteiner .search-form [type="button"]:hover {
          box-shadow: 1px 1px 5px 3px  #b8b8b1; }
    .first-section__conteiner .scroll-down {
      margin-top: 120px;
      margin-bottom: 120px; }
      .first-section__conteiner .scroll-down .text {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 2px; }
  .first-section__footer {
    background: #5474fd;
    height: 80px; }
    .first-section__footer--wrapper {
      max-width: 1110px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .first-section__footer--wrapper .bottom__title {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 30px 0 26px 0;
        letter-spacing: 2px; }
      .first-section__footer--wrapper .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center; }
        .first-section__footer--wrapper .menu__list {
          list-style-type: none; }
        .first-section__footer--wrapper .menu__item {
          display: inline;
          margin: 30px 35px 30px 0;
          color: #ffffff;
          text-transform: uppercase;
          font-family: 'Aleo Bold', sans-serif;
          font-weight: 400;
          font-size: 14px; }
          .first-section__footer--wrapper .menu__item:hover {
            border-top: 2px solid #ffffff;
            transition: 0.3s ease 0.2s; }

.why-choose__conteiner {
  background: url(../img/bg-second-2.png) no-repeat;
  background-size: cover; }

.why-choose__wrapper {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .why-choose__wrapper .description {
    width: 540px;
    color: #fff;
    margin-top: 200px;
    margin-bottom: 130px; }
    .why-choose__wrapper .description .title {
      font-family: 'Aleo Bold', sans-serif;
      font-weight: 250;
      font-size: 36px;
      line-height: 26px;
      margin: 0 0 65px 0; }
    .why-choose__wrapper .description .text {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.7px;
      margin-bottom: 30px; }
    .why-choose__wrapper .description [type="button"] {
      height: 60px;
      width: 225px;
      text-transform: uppercase;
      color: #fff;
      background-color: #4463f0;
      background-image: linear-gradient(45deg, transparent 45%, #496bfe 30%, #5474fd);
      outline: none;
      border: 0;
      font-family: 'Aleo Bold', sans-serif;
      font-weight: 250;
      font-size: 16px;
      cursor: pointer; }
      .why-choose__wrapper .description [type="button"]:active {
        transform: scale(0.98); }
      .why-choose__wrapper .description [type="button"]:hover {
        box-shadow: 1px 1px 5px 3px  #b8b8b1; }
  .why-choose__wrapper .img__conteiner {
    display: flex;
    width: 540px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 130px; }
    .why-choose__wrapper .img__conteiner .img__item1 {
      align-self: flex-start;
      margin-bottom: 5px;
      margin-left: 65px; }
    .why-choose__wrapper .img__conteiner .img__item2 {
      align-self: flex-end; }

.why-choose__bottom {
  background-color: #333333;
  background-image: url(../img/shaper-line.png);
  background-repeat: no-repeat;
  background-position: 50% 40%; }
  .why-choose__bottom--wrapper {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .why-choose__bottom--icon {
    margin-top: 95px;
    margin-bottom: 110px;
    color: #fff;
    font-family: 'Aleo Bold', sans-serif;
    font-weight: 250;
    font-size: 36px;
    text-align: center;
    background: #333333;
    border-radius: 50%;
    cursor: pointer; }
    .why-choose__bottom--icon:active img {
      transform: scale(1.15); }

.third-section {
  background-image: url(../img/bg-third.png);
  background-repeat: no-repeat; }
  .third-section__wrapper {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .third-section__wrapper .description__box {
      width: 540px;
      height: 370px;
      background-color: #2e2c2b;
      opacity: 0.9;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      color: #ffffff;
      margin: 120px 0 100px 0; }
      .third-section__wrapper .description__box .country {
        font-size: 20px;
        margin: 40px 0 30px 30px; }
      .third-section__wrapper .description__box .title {
        font-size: 20px;
        margin-left: 30px;
        text-transform: uppercase; }
      .third-section__wrapper .description__box .text {
        font-size: 14px;
        margin: 30px;
        line-height: 26px; }
      .third-section__wrapper .description__box [type="button"] {
        height: 60px;
        width: 225px;
        text-transform: uppercase;
        color: #fff;
        background-color: #4463f0;
        background-image: linear-gradient(45deg, transparent 45%, #496bfe 30%, #5474fd);
        outline: none;
        border: 0;
        font-family: 'Aleo Bold', sans-serif;
        font-weight: 250;
        font-size: 16px;
        cursor: pointer;
        margin-left: 30px; }
        .third-section__wrapper .description__box [type="button"]:active {
          transform: scale(0.98); }
        .third-section__wrapper .description__box [type="button"]:hover {
          box-shadow: 1px 1px 5px 3px  #b8b8b1; }

.fourth-section {
  background-image: url(../img/bg-fourth.png);
  background-repeat: no-repeat; }
  .fourth-section__wrapper {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .fourth-section__wrapper .description__box {
      width: 540px;
      height: 370px;
      background-color: #2e2c2b;
      opacity: 0.9;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      color: #ffffff;
      margin: 120px 0 100px 0; }
      .fourth-section__wrapper .description__box .country {
        font-size: 20px;
        margin: 40px 0 30px 30px; }
      .fourth-section__wrapper .description__box .title {
        font-size: 20px;
        margin-left: 30px;
        text-transform: uppercase; }
      .fourth-section__wrapper .description__box .text {
        font-size: 14px;
        margin: 30px;
        line-height: 26px; }
      .fourth-section__wrapper .description__box [type="button"] {
        height: 60px;
        width: 225px;
        text-transform: uppercase;
        color: #fff;
        background-color: #4463f0;
        background-image: linear-gradient(45deg, transparent 45%, #496bfe 30%, #5474fd);
        outline: none;
        border: 0;
        font-family: 'Aleo Bold', sans-serif;
        font-weight: 250;
        font-size: 16px;
        cursor: pointer;
        margin-left: 30px; }
        .fourth-section__wrapper .description__box [type="button"]:active {
          transform: scale(0.98); }
        .fourth-section__wrapper .description__box [type="button"]:hover {
          box-shadow: 1px 1px 4px 3px  #b8b8b1; }

.last-section {
  background: url(../img/bg-bottom.png) no-repeat;
  background-size: cover; }
  .last-section__wrapper {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .last-section__wrapper .title {
      display: block;
      width: 400px;
      text-align: center;
      font-size: 36px;
      color: #ffffff;
      margin-top: 120px;
      margin-bottom: 100px; }
  .last-section__conteiner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px; }
    .last-section__conteiner .img__description {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      background-color: #333333;
      color: #ffffff;
      width: 665px;
      height: 284px; }
      .last-section__conteiner .img__description .tourist-name {
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 55px;
        margin-top: 50px; }
      .last-section__conteiner .img__description .text {
        font-size: 15px;
        margin: 50px 45px 0px 55px;
        line-height: 26px; }
        .last-section__conteiner .img__description .text i {
          line-height: 26px;
          font-size: 26px;
          color: #5474fd; }

.bhromaon__bottom {
  background-color: #232323; }
  .bhromaon__bottom--wrapper {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff; }
    .bhromaon__bottom--wrapper .title {
      text-transform: uppercase;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 700;
      font-size: 24px;
      margin: 120px 0 15px 0;
      letter-spacing: 2.7px; }
    .bhromaon__bottom--wrapper .text {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      font-size: 16px;
      letter-spacing: 1.2px; }
    .bhromaon__bottom--wrapper .social-icons {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
      .bhromaon__bottom--wrapper .social-icons .social-menu {
        list-style-type: none;
        margin: 30px 0 50px 0; }
        .bhromaon__bottom--wrapper .social-icons .social-menu .list {
          list-style-type: none;
          display: inline;
          padding: 11px;
          color: #ffffff;
          text-transform: uppercase;
          font-family: 'Aleo Bold', sans-serif;
          font-weight: 250;
          font-size: 16px; }
          .bhromaon__bottom--wrapper .social-icons .social-menu .list:hover i {
            color: #516fee; }
          .bhromaon__bottom--wrapper .social-icons .social-menu .list:active {
            transform: scale(1.15); }

@media screen and (max-width: 1110px) {
  .first-section__footer--wrapper {
    justify-content: space-around; }
  .why-choose__wrapper .description {
    margin-left: 80px;
    margin-top: 60px;
    margin-bottom: 30px; }
  .why-choose__wrapper .img__conteiner {
    margin-right: 40px; }
  .third-section__wrapper .description__box {
    margin-left: 80px; }
  .fourth-section__wrapper .description__box {
    margin-right: 80px; }
  .last-section__conteiner {
    justify-content: center; } }

@media screen and (max-width: 960px) {
  .last-section__conteiner {
    margin-bottom: 100px; }
  .why-choose__wrapper .description .title {
    font-size: 30px; } }

@media screen and (max-width: 748px) {
  .first-section__conteiner .search-form [type="search"] {
    width: 300px;
    padding: 0;
    letter-spacing: 0; }
    .first-section__conteiner .search-form [type="search"]:placeholder {
      font-size: 12px; }
  .first-section__conteiner .search-form [type="button"] {
    height: 60px;
    position: relative;
    margin-left: 30px; }
  .first-section__footer--wrapper .bottom__title {
    font-size: 18px; }
  .first-section__footer--wrapper .menu__item {
    margin: 8px 8px; }
  .why-choose__wrapper {
    justify-content: space-around;
    flex-wrap: wrap; }
  .why-choose__bottom--wrapper {
    flex-direction: column;
    background-image: url(../img/bg-grey.png);
    justify-content: center; }
  .last-section__conteiner .img__description {
    width: 300px;
    height: 500px; } }
