@media screen and ( max-width: 1110px )
    .first-section
        &__footer
            &--wrapper
                justify-content: space-around
    .why-choose
        &__wrapper
            .description
                margin-left: 80px
                margin-top: 60px
                margin-bottom: 30px 
            .img__conteiner
                margin-right: 40px
    
    .third-section
        &__wrapper 
            .description__box
                margin-left: 80px
    .fourth-section
        &__wrapper 
            .description__box
                margin-right: 80px
    .last-section
        &__conteiner
            justify-content: center
@media screen and ( max-width: 960px )
    .last-section
        &__conteiner
            margin-bottom: 100px
    .why-choose
        &__wrapper 
            .description 
                .title
                    font-size: 30px 
@media screen and ( max-width: 748px )
    .first-section
        &__conteiner 
            .search-form 
                [type="search"]
                    width: 300px
                    padding: 0
                    &:placeholder   
                        font-size: 5px 
                        letter-spacing: 0
                        word-spacing: 0
                [type="button"]
                    height: 60px
                    position: relative  
                    margin-left: 30px   
    .first-section
        &__footer
            &--wrapper 
                .bottom
                    &__title
                        font-size: 18px 
                .menu
                    &__item
                        margin: 8px 8px
    .why-choose
        &__wrapper
            justify-content: space-around
            flex-wrap: wrap 
    .why-choose
        &__bottom
            &--wrapper
                flex-direction: column  
                background-image: url(../img/bg-grey.png)   
                justify-content: center
    .last-section
        &__conteiner 
            .img__description
                width: 300px
                height: 500px

@media screen and ( max-width: 462px )
    .first-section
        &__conteiner 
            .title
                font-size: 28px
        &__footer
            height: 100%
            &--wrapper
                flex-wrap: wrap 
                flex-direction: column 
                .menu
                    flex-direction: column
                    flex-wrap: nowrap 
                    text-align: center
                    justify-content: center
                    &--list
                        list-style-type: column
                    &__item
                        flex-basis: 95px
    .third-section
        &__wrapper
            .description__box
                max-width: 300px
                margin: 0 auto
    .fourth-section
        &__wrapper
            .description__box
                max-width: 300px
                margin: 0 auto
    .last-section
        &__conteiner 
            .img__box
                max-width: 300px
                img 
                    width: 100%
    .why-choose
        &__wrapper 
            .img__conteiner
                margin: 0 auto
                .img__item1
                    max-width: 300px 
                    margin: 0 auto 
                    img 
                        width: 100%  
                .img__item2
                    max-width: 300px  
                    margin: 0 auto 
                    img 
                        width: 100%   
                        
    .why-choose
        &__wrapper 
            .description
                width: 300px     
                margin: 10px auto
                text-align: center