*
    margin: 0
    padding: 0
    box-sizing: border-box
    a, a:link
        color: #ffffff
        text-decoration: none
    input
        outline: none
body 
    border: 15px solid #ffffff
@mixin josefin-bold
    font-family: 'Josefin Sans', sans-serif
    font-weight: 700
@mixin josefin-regular
    font-family: 'Josefin Sans', sans-serif
    font-weight: 400
@font-face
    font-family: 'Aleo Bold', sans-serif
    src: url(../web/fonts/WebfontKit/Bold/aleo-bold-webfont.woff2)

.first-section
    background: url(../img/bg-toper.png)
    background-size: cover
    &__wrapper
        max-width: 1110px
        margin: 0 auto
    &__conteiner
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        text-align: center
        .title
            @include josefin-bold
            font-size: 48px
            color: #ffffff
            text-transform: uppercase
            letter-spacing: 2px
            margin-top: 265px 
            margin-bottom: 0             
        .sub-title__text
            @include josefin-regular
            font-size: 22px 
            color: #ffffff
            margin-bottom: 45px
            letter-spacing: 4.3px
        .search-form
            position: relative
            [type="search"]
                width: 650px    
                height: 60px
                padding-left: 105px 
                &::placeholder
                    @include josefin-regular
                    font-size: 14px
                    letter-spacing: 3.5px
                    color: #999999
            [type="button"]
                position: absolute
                right: 2px
                top: 2px
                height: 56px
                width: 145px
                text-transform: uppercase
                color: #fff
                background: #5474fd
                background-image: url(../icon/search.svg) 
                background-repeat: no-repeat
                background-position: 110px 12px
                outline: none
                border: 0
        .scroll-down
            margin-top: 120px
            margin-bottom: 120px
            .text
                @include josefin-regular
                font-size: 14px 
                letter-spacing: 2px
    &__footer
        background: #5474fd
        height: 80px
        &--wrapper
            max-width: 1110px
            margin: 0 auto
            display: flex
            justify-content: space-between
            align-items: center
            .bottom__title
                @include josefin-bold
                font-size: 24px 
                text-transform: uppercase
                color: #ffffff
                padding: 30px 0 26px 0
                letter-spacing: 2px
            .menu
                display: flex
                flex-direction: row
                flex-wrap: nowrap   
                justify-content: flex-start
                align-items: center
                
                &__list
                    list-style-type: none
                &__item
                    display: inline
                    padding: 30px 35px 30px 0
                    color: #ffffff
                    text-transform: uppercase
                    font-family: 'Aleo Bold', sans-serif
                    font-weight: 400
                    font-size: 14px
/* First section compleate */

